
.createPostPage{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    padding: 10px;
}
.createPostPage h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff6f00;


}
.jodit-wysiwyg{
    height: 300px;
}
.cpContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    width: 90%;
}
.inputT input{
    border: 1px solid #ff6f00;
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
    /* box-shadow: 0px 5px 15px rgb(221, 221, 221); */
    width: 95%;
    height: 25PX;
}
.inputP{
    height: 600px;
    
}
.jodit-react-container{
    border: 1px solid #ff6f00;
    border-radius: 3px;
}

.jodit-container:not(.jodit_inline) .jodit-wysiwyg {
    
    position:absolute;
    height: 500px;
}


.sub-btn{
    border-radius: 7px;
    width: 10%;
    background: linear-gradient(to right, #ff6f00, #ff9100);
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: 0px;
    box-shadow: 0px 5px 15px rgb(183, 183, 183);
    border: 0px;
}
.inputAp{
    
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.inputAp input{
    border: 1px solid #ff6f00;
    border-radius: 3px;
    height: 30px;
    width: 50%;

}
