.createPostPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.createPostPage h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff6f00;
    margin-bottom: 20px; 
}

.cpContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    
}

.inputT input {
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
    width: 70%;
    height: 35px; /* Slightly increased for better usability */
    margin-bottom: 10px; /* Added for spacing */
}

.sub-btn {
    border-radius: 7px;
    height: 50px;
    width: 120px; /* Changed from percentage to fixed width for consistency */
    background: linear-gradient(to right, #ff6f00, #ff9100);
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: 0;
    box-shadow: 0px 5px 15px rgba(183, 183, 183, 0.5); /* Added transparency */
    cursor: pointer; /* Added for better UX */
    transition: 0.3s; /* Added for hover effect */
    margin-top: 10px;
}

.sub-btn:hover {
    background: linear-gradient(to right, #ff9100, #ff6f00); /* Hover effect */
}

.inputAp {
   /* Increased for better spacing */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
}

.inputAp input {
    border: 1px solid #ff6f00;
    border-radius: 3px;
    height: 35px; /* Slightly increased for better usability */
    width: 70%; /* Adjusted for better proportion */
    padding: 5px; /* Added for better input padding */
    font-size: 16px; /* Adjusted for consistency */
}