.deletePost>button {
    font-size: 20px;
}
.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.homePage {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.deletePost {
    float: right;
    


}
.deletePost button{
    cursor: pointer;
    border :0px ;
    padding: 3px;
    background-color: transparent;
}
.deletePost button img {
    height: 30px;
    width: 30px;
    
    

   
    
    font-weight: bold;
    border-radius: 3px;
    margin: 10px 20px;
    
}

.title h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 10px 20px;

    
}

.postTextContainer {
    font-size: 18px;

}

.postHeader {
    padding: 20px;
    background-color: #ffffff;
}

.post {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 60%;

    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgb(183, 183, 183);

}

.image-cont {

    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.image-cont img {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
}

.post>h3 {
    font-size: 15px;
}
.lower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.liked button{
    border: 0px;
    background-color: transparent;
    
}
.liked p{
    text-align: center;
}
.liked img{
    height: 30px;
    
}
.liked img:hover{
    cursor: pointer;
    transform: scale(1.4);
   
}